.movieImg {
    max-height: 260px;
}

.movieBox {
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.movieBox:hover {
    border: 3px solid #dedede;
}


.moviesHolder h3{
    padding: 20px 0;
}

.moviesHolder img{
    margin: 0 auto;
}

main input[type="text"].search-movie {
    width: 50%;
    padding: 3px 10px;
    font-size: 14px;
}
#sortMoviesBtn {
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #282c34;
    color: #fff;
    padding: 3px 15px;
    cursor: pointer;
    user-select: none;
}
#sortMoviesBtn:hover {
    background-color: #3d4450;
}
#sortMoviesBtn:focus {
    outline: none;
}
.sortMovies ul {
    display: table;
    margin: 0 auto;
    padding: 0;
}

.sortMovies ul li {
    list-style: none;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #282c34;
    color: #fff;
    padding: 3px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}
.sortMovies ul li:hover {
    background-color: #3d4450;
}

.sortMovies ul li:last-of-type {
    margin-right: 0;
}

.sortMovies ul li span{
    font-size: 16px;
}

  
  .moviesHolder a {
    text-decoration: none;
    color: #000;
  }
  
  .moviesHolder h3 {
    margin-bottom: 0;
  }
  
  .image-holder {
    margin: 0 auto;
    display: table;
    position: relative;
  }
  
  .image-holder img {
    float: right;
  }
  
  .delete-btn {
    padding: 5px 13px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-weight: normal;
    border-radius: 2px;
    font-size: 12px;
    float: right;
    position: absolute;
    right: 0;
    user-select: none;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #f3f3f3;
  }

  @media only screen and (max-width: 576px) {
    .movieBox, .movieBox:hover {
        border: none;
    }

    #sortMoviesBtn {
        font-size: 14px;
    }
     
}